.header-container {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:center;
    color: rgb(234, 236, 233);
    height: 14vh;
    background-color: white;
  }
  .header-link{
    color: rgb(229, 49, 50);
  }
.logo{
    scale: .05;
}