.third-width{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-left{
    justify-content: left;
}
.justify-content-right{
    justify-content: right;

}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}

.body{
    height: 90%;
    width: 100%;
    color: rgb(229, 49, 50);
}

.container{
    height: 100vh;
    width: 100vw;
  }