.sign-up-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border:solid rgb(229, 49, 50) ;
    background-color: rgb(234, 236, 233);
    margin: auto;
}
.input-container{
    flex-direction: row;
    justify-content: center;
    border: solid black;
    height:50px;
    width: 400px;
}

.input-container input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    appearance: none; /* Remove default styling */
    background-color: white; /* Set background color */
    border: 1px solid gray; /* Add border */
    border-radius: 3px; /* Add border radius */
  }
  
  /* Style for the checked state */
  .input-container input[type="checkbox"]:checked {
    background-color: #007bff; /* Change background color when checked */
    border: 1px solid #007bff; /* Change border color when checked */
    color: white; /* Change text color when checked */
  }